<%- include("partials/header") -%>
<h2>Home</h2>
<><%= contentOne %></p>

<%  postArray.forEach(function(post){  %>
  <h1> <%=   post.title %></h1>
  <p> <%=   post.content.substring(0,100) + "...."   %> </p><a href="post/ <%=post.title%>">Read More</a>
  
<%  });   %>

 <%- include("partials/footer") -%>
